<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/light-show</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">dragunov1999weeks</property>

        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.hikari.maximumPoolSize">1</property>

        <mapping class="ua.dragunov.lightshow.model.Color"/>
        <mapping class="ua.dragunov.lightshow.model.Light"/>
        <mapping class="ua.dragunov.lightshow.model.ColorHistoryRecord"/>
    </session-factory>

</hibernate-configuration>